@font-face {
    font-family: fontawesome;
    src: url(../../assets/fontawesome/webfonts/fa-solid-900.ttf) format(ttf);
}

@font-face {
    font-family: fontawesome;
    src: url(../../assets/fontawesome/webfonts/fa-solid-900.woff2) format(woff2);
}

.navbar {
    z-index: 4;
    position: absolute!important;
    right: 0;
    left: 0;
    top: 40px;
    width: 100%;
}

.index-module_Mask_i5n4j {
    background-color: rgb(254, 129, 25)
}